MYSQL_DSN=mysql+asyncmy://smart_label:CHANGE_ME@127.0.0.1:3306/smart_label
NAS_ROOT=/home/toky/ai_data
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_STRING
BACKEND_PORT=8283
FRONTEND_PORT=8284
CORS_ALLOW_ORIGINS=["http://localhost:8284"]
